@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
    background-color: #FFFFFF;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    
}

/* Typography */

h1, 
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
    margin-bottom: 20px;
    margin-top: 10px; 
}

p {
    
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
    
    
}
/* main containers */

.wrapper {
    width: 980px;
    margin: 0 auto;  
}

header {
    background-color: #FFFFFF; 
    height: 120px;
    padding: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
     }
    
h1 {
    text-align: center; 
    color: #333232;
    font-size: 25px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #333232;
    font-size: 23px;
    
}

nav {
    background-color: #4A4848;
    color: #333232;
    
}

main {
    padding: 20px;
    color: #333232;
}

footer {
    background-color: #333232; 
    height: 130px;
    padding: 20px;
}